<template>
  <div id="app" class="app">
    <app-header></app-header>
    <div class="app__inner">
      <app-fields></app-fields>
    </div>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style lang="scss" scoped>
@import '../node_modules/bootstrap/scss/bootstrap.scss';
.app {
  @include media-breakpoint-up(xs) {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }
  @include media-breakpoint-up(md) {
    @include make-col-ready();
  }
  &__inner {
    @include make-row();
  }
}
</style>
