<template>
    <div class="controls">
        <div class="controls__save">
            <a class="controls__btn controls__btn--save">
            Save Changes
            </a>
        </div>
        <div class="controls__cancel">
            <a class="controls__btn controls__btn--cancel">
            Cancel Changes
            </a>
        </div>
        <div class="controls__delete">
            <a class="controls__btn controls__btn--delete">
            Delete Input
            </a>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Controls'
}
</script>

<style lang="scss" scoped>
@import '../node_modules/bootstrap/scss/bootstrap.scss';
.controls {
    @include media-breakpoint-up(xs) {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    @include media-breakpoint-up(md) {
        padding: 45px 0;
    }
    &__save {
        @include media-breakpoint-up(xs) {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
        }
        @include media-breakpoint-up(md) {
            justify-content: flex-start;
            flex-grow: 10;
        }
    }
    &__cancel {
        @include media-breakpoint-up(xs) {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
        }
        @include media-breakpoint-up(md) {
            justify-content: flex-end;
        }
    }
    &__delete {
        @include media-breakpoint-up(xs) {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
        }
        @include media-breakpoint-up(md) {
            justify-content: flex-end;
        }
    }
    &__btn {
        @include media-breakpoint-up(xs) {
            border-radius: 4px;
            width: 100%;
            text-align: center;
            padding: 12px 25px;
            margin: 5px;
        }
        @include media-breakpoint-up(sm) {
            width: auto;
            text-align: center;
            padding: 12px 25px;
            margin: 3px;
        }

        &--save {
            color: #fff!important;
            @extend .btn-info;
            border: 1px solid #138496;
        }
        &--cancel {
            @include media-breakpoint-up(xs) {
                @extend .btn-light;
                color: rgba(0,0,0,1);
                border: 1px solid rgba(0, 162, 183, 0.5);
            }
        }
        &--delete {
            color: #fff!important;
            @extend .btn-danger;
            border: 1px solid #dc3545;
        }
    }
}
</style>
