<template>
    <div class="details">
        <div class="details__inner">
            <div class="title">
                Field Details
            </div>
            <app-inputs></app-inputs>
            <app-groups></app-groups>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Details'
}
</script>

<style lang="scss" scoped>
@import '../node_modules/bootstrap/scss/bootstrap.scss';
.details {
    @extend .col-12, .col-md-8, .col-xl-9;
    @include media-breakpoint-up(xs) {
        padding: 15px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    @include media-breakpoint-up(md) {
        padding: 30px;
        border: 1px solid rgba(0, 162, 183, 0.5);
    }
    &__inner {
        @extend .row;
        @include media-breakpoint-up(md) {
            margin-bottom: 7px;
            margin-right: 0px;
        }
        @include media-breakpoint-up(lg) {
            //margin-bottom: 15px;
            margin-right: 0px;
        }
    }
}

.title {
    @extend .col-12;
    @include media-breakpoint-up(xs) {
        font-weight: 700;
        font-size: 28px;
        padding: 0 0 15px 15px;
        margin-top: 20px;
    }
    @include media-breakpoint-up(md) {
        margin-top: 0px;
        //padding: 20px 0 15px 15px;
    }
}

</style>
