<template>
    <div class="fields">
        <div class="fields__inner">
            <h1 class="fields__title">
                Commercial Property - Add Field
            </h1>
            <app-types></app-types>
            <app-details></app-details>
        </div>
        <app-controls></app-controls>
    </div>
</template>

<script>
export default {
  name: 'Fields'
}
</script>

<style lang="scss" scoped>
@import '../node_modules/bootstrap/scss/bootstrap.scss';
.fields {
    @extend  .col-12;
    &__inner {
        @extend .row, .no-gutters;
    }
    &__title {
        padding: 30px 0;
        @extend .col-12;
    }
    &__container {
        height: 680px;
        background-color: #fff;
        border: 1px solid rgba(0, 162, 183, 0.5);
        border-radius: 5px;
     }
}
</style>
