<template>
    <div class="groups">
        <div class="groups__title">
            Field Groups
        </div>
        <div class="groups__sub-title">
            Choose a group for this input
        </div>
        <div class="group">
            <div class="group__title">
            Rental Vehicle Coverage Package
            </div>
            <div class="group__sub-title">
            7 other inputs
            </div>
        </div>
        <a class="groups__btn">
            Add A New Group
        </a>
    </div>
</template>

<script>
export default {
  name: 'Groups'
}
</script>

<style lang="scss" scoped>
@import '../node_modules/bootstrap/scss/bootstrap.scss';
.groups {
    @extend .col-12, .col-xl-3;
    @include media-breakpoint-up(xs) {
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 15px;
        border: 1px solid rgba(0, 162, 183, 0.5);
        background-color: rgba(238,244,245,1);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    @include media-breakpoint-up(md) {
        margin-left: 7px;
        margin-bottom: 0px;
    }
    @include media-breakpoint-up(xl) {
        margin-left: 0;
    }
    &__title {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 8px;
    }
    &__sub-title {
        letter-spacing: 1px;
        font-size: 13px;
        color: rgba(0,73,83,1);
        margin-bottom: 10px;
        margin-top: 15px;
    }
    &__btn {
        width: 100%;
        color: rgba(0,0,0,1);
        align-self: flex-end;
        margin-top: auto;
        font-weight: 700;
        font-size: 14px;
        background-color: #fff;
        border: 1px solid rgba(0, 162, 183, 0.5);
        @extend .btn, .btn-primary;
        &:hover {
            background-color: rgba(0,126,148,1)!important;
            color: #fff!important;
        }
        &:focus {
            outline: none!important;
            box-shadow: none!important;
        }
        &:active {
            background-color: rgba(0,126,148,1)!important;
            outline: none!important;
            box-shadow: none!important;
            &:focus {
                background-color: rgba(0,126,148,0.9);
                outline: none!important;
                box-shadow: none!important;
            }
        }
    }
}

.group {
    padding: 10px;
    background-color: rgba(255,255,255,1);
    border: 1px solid rgba(0, 162, 183, 0.5);
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
    &__title {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 8px;
    }
    &__sub-title {
        letter-spacing: 1px;
        font-size: 13px;
        color: rgba(0,73,83,1);
    }
}
</style>
