<template>
    <header class="header">
        <div class="header__inner">
            <div class="logo">
                <img class="logo__image" src="./assets/logo.png">BriteCore<icon class="logo__icon" name="sort-desc"></icon>
            </div>
            <nav class="nav">
                <a class="nav__link active" href="#"><icon class="nav__icon" name="umbrella"></icon>Policies</a>
                <a class="nav__link" href="#"><icon class="nav__icon" name="bolt"></icon>Claims</a>
                <a class="nav__link" href="#"><icon class="nav__icon" name="user"></icon>Contacts</a>
                <a class="nav__link" href="#"><icon class="nav__icon" name="bar-chart"></icon>Data</a>
                <a class="nav__link" href="#"><icon class="nav__icon" name="book"></icon>Lines</a>
                <a class="nav__link" href="#"><img class="nav__image" src="./assets/logo.png">All Modules</a>
            </nav>
        </div>
    </header>

</template>

<script>
export default {
  name: 'Header'
}
</script>

<style lang="scss" scoped>
@import '../node_modules/bootstrap/scss/bootstrap.scss';
.header {
    background-color: rgba(0,73,83,1);
    height: 45px;
    @extend  .col-12;
    &__inner{
        @extend .row;
    }

}

.logo {
    color: #fff;
    font-size: 24px;
    height: 45px;
    line-height: 1.9;
    padding-left: 15px;
    font-weight: 700;
    @extend .col-12, .col-lg-3, .col-xl-2;
    &__image {
        margin-top: -2px;
        max-height: 30px;
    }
    &__icon {
        margin-left: 5px;
    }
}

.nav {
    @extend .col-9, .col-lg-9, .col-xl-10;
    @include media-breakpoint-down(md) {
        display: none;
    }
    margin-top: 7px;
    height: 45px;
    &__link {
        border-radius: 25px;
        color: #fff;
        line-height: 0.9;
        height: 30px;
        @extend .nav-link;
        &:hover {
            background-color: rgba(0, 162, 183, 0.5);
            color: darken(#fff, 10%);
        }
    }
    &__icon {
        margin-right: 8px;
        margin-bottom: -2px;
        color: rgba(238,244,245,1);
    }
    &__image {
        max-height: 20px;
        margin-right: 1px;
    }
}
</style>
