<template>
    <div class="inputs">
        <div class="inputs__inner">
            <div class="label">
                <div class="label__title">
                    Display Label
                </div>
                <form action="" class="label__form">
                    <input type="text" name="label__input" class="label__input">
                </form>
                <div class="label__sub-title">
                    For display purposes, spaces allowed
                </div>
            </div>
            <div class="name">
                <div class="name__title">
                    Reference Name
                </div>
                <form action="" class="name__form">
                    <input type="text" name="name__input" class="name__input">
                </form>
                <div class="name__sub-title">
                    Used to reference in calculations, no spaces allowed
                </div>
            </div>
            <div class="value">
                <div class="value__title">
                    Default Value
                </div>
                <form action="" class="value__form">
                    <input type="text" name="value__input" class="value__input">
                </form>
            </div>
            <div class="validation">
                <div class="validation__title">
                    Custom Validation
                </div>
                <form action="" class="validation__form">
                    <input type="text" name="validation__input" class="validation__input">
                </form>
                <div class="validation__sub-title">
                    Any regex pattern can be used for custom input validation
                </div>
            </div>
            <app-tags></app-tags>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Inputs'
}
</script>

<style lang="scss" scoped>
@import '../node_modules/bootstrap/scss/bootstrap.scss';
.inputs {
    @extend .col-12, .col-xl-9;
    &__inner {
        margin-bottom: 15px;
        @extend .row;
    }
}

.label {
    @extend .col-12, .col-lg-6;
    @include media-breakpoint-up(xs) {
        margin-bottom: 20px;
    }
    @include media-breakpoint-up(lg) {
        margin-bottom: 40px;
    }
    &__title {
        @include media-breakpoint-up(sm) {
            font-size: 18px;
            margin-bottom: 10px;
        }
        @include media-breakpoint-up(md) {
            margin-bottom: 15px;
        }
    }
    &__sub-title {
        @include media-breakpoint-up(xs) {
            letter-spacing: 1px;
            font-size: 13px;
            color: rgba(0,73,83,1);
            margin-bottom: 10px;
        }
    }
    &__form {
        @include media-breakpoint-up(sm) {
            margin-bottom: 10px;
        }
        @include media-breakpoint-up(md) {
            margin-bottom: 15px;
        }
    }
    &__input {
        width: 100%;
        height: 45px;
        border-radius: 5px;
        border-color: rgba(238,244,245,1);
        outline: none;
        border: none;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
        border: 1px solid rgba(0, 162, 183, 0.5);
    }

}

.name {
    @extend .col-12, .col-lg-6;
    @include media-breakpoint-up(xs) {
        margin-bottom: 20px;
    }
    @include media-breakpoint-up(lg) {
        margin-bottom: 40px;
    }
    &__title {
        @include media-breakpoint-up(sm) {
            font-size: 18px;
            margin-bottom: 10px;
        }
        @include media-breakpoint-up(md) {
            margin-bottom: 15px;
        }
    }
    &__sub-title {
        @include media-breakpoint-up(xs) {
            letter-spacing: 1px;
            font-size: 13px;
            color: rgba(0,73,83,1);
            margin-bottom: 10px;
        }
    }
    &__form {
        @include media-breakpoint-up(sm) {
            margin-bottom: 10px;
        }
        @include media-breakpoint-up(md) {
            margin-bottom: 15px;
        }
    }
    &__input {
        width: 100%;
        height: 45px;
        border-radius: 5px;
        border-color: rgba(238,244,245,1);
        outline: none;
        border: none;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
        border: 1px solid rgba(0, 162, 183, 0.5);
    }
}

.value {
    @include media-breakpoint-up(xs) {
        margin-bottom: 20px;
    }
    @include media-breakpoint-up(lg) {
        margin-bottom: 40px;
    }
    @include media-breakpoint-up(xl) {
        margin-right: 50%;
    }
    @extend .col-12, .col-lg-6;
    &__title {
        @include media-breakpoint-up(sm) {
            font-size: 18px;
            margin-bottom: 10px;
        }
        @include media-breakpoint-up(md) {
            margin-bottom: 15px;
        }
    }
    &__form {
        @include media-breakpoint-up(sm) {
            margin-bottom: 10px;
        }
        @include media-breakpoint-up(md) {
            margin-bottom: 15px;
        }
    }
    &__input {
        width: 100%;
        height: 45px;
        border-radius: 5px;
        border-color: rgba(238,244,245,1);
        outline: none;
        border: none;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
        border: 1px solid rgba(0, 162, 183, 0.5);
    }
}

.validation {
    @include media-breakpoint-up(xs) {
        margin-bottom: 20px;
    }
    @include media-breakpoint-up(lg) {
        margin-bottom: 40px;
    }
    @extend .col-12, .col-lg-6;
    &__title {
        @include media-breakpoint-up(sm) {
            font-size: 18px;
            margin-bottom: 10px;
        }
        @include media-breakpoint-up(md) {
            margin-bottom: 15px;
        }
    }
    &__sub-title {
        @include media-breakpoint-up(xs) {
            letter-spacing: 1px;
            font-size: 13px;
            color: rgba(0,73,83,1);
            margin-bottom: 10px;
        }
    }
    &__form {
        @include media-breakpoint-up(sm) {
            margin-bottom: 10px;
        }
        @include media-breakpoint-up(md) {
            margin-bottom: 15px;
        }
    }
    &__input {
        width: 100%;
        height: 45px;
        border-radius: 5px;
        border-color: rgba(238,244,245,1);
        outline: none;
        border: none;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
        border: 1px solid rgba(0, 162, 183, 0.5);
    }
}
</style>
