<template>
    <div class="tags">
        <div class="tags__title">
            Tags
        </div>
        <div class="tags__inner">
            <div class="tags-group">
            <div class="tags-group__title">
                Tag Group
            </div>
                <div class="tags-group__item">
                    Vinmaster
                </div>
                <div class="tags-group__item">
                    ISO
                </div>
                <div class="tags-group__item">
                    Tag 3
                </div>
            </div>
            <div class="tags-cloud">
                <div class="tags-cloud__title">
                    Tags
                </div>
                <div class="tags-cloud__empty">
                    Select a tag group to see individual tags
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Tags'
}
</script>

<style lang="scss" scoped>
@import '../node_modules/bootstrap/scss/bootstrap.scss';
.tags {
    min-height: 60px;
    @extend .col-12, .col-xl-9;
    &__title {
        font-size: 20px;
        font-weight: 700;
        line-height: 1;
        margin-top: 5px;
        margin-bottom: 15px;
        letter-spacing: 1px;
    }
    &__inner {
        @extend .row;
    }
}

.tags-group {
    display: flex;
    flex-wrap: wrap;
    @extend .col-6;
    &__title {
        width: 100%;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 8px;
    }
    &__item {
        letter-spacing: 1px;
        font-size: 13px;
        font-weight: 700;
        color: rgba(0,73,83,1);
        padding: 6px;
        margin: 0 10px 10px 0;
        background-color: rgba(238,244,245,1);
        border-radius: 5px;
        border: 1px solid rgba(0, 162, 183, 0.5);
    }
}

.tags-cloud {
    @extend .col-6;
    &__title {
        width: 100%;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 8px;
    }
    &__empty {
        font-size: 13px;
        font-style: italic;
    }
}
</style>
