<template>
    <div class="types">
        <div class="types__title">
            Field Types
        </div>
        <div class="types__sub-title">
            Filter Types
        </div>
        <form action="types__filter" class="types__form">
            <input type="text" name="types__input" class="types__input">
        </form>
        <div class="type type--active">
            <div class="type__title">
            <icon name="header" class="type__icon"></icon>Text
            </div>
            <div class="type__sub-title">
            Definition
            </div>
            <div class="type__text">
            String of text
            </div>
            <div class="type__sub-title">
            Default Display
            </div>
            <div class="type__text">
            Free-form text input
            </div>
        </div>
        <div class="type">
            <div class="type__title">
            <icon name="calendar" class="type__icon"></icon>Date
            </div>
            <div class="type__sub-title">
            Definition
            </div>
            <div class="type__text">
            Standard ISO format date
            </div>
            <div class="type__sub-title">
            Default Display
            </div>
            <div class="type__text">
            Datepicker, with configurable format
            </div>
        </div>
        <div class="type">
            <div class="type__title">
            <icon name="car" class="type__icon"></icon>VIN
            </div>
            <div class="type__sub-title">
            Definition
            </div>
            <div class="type__text">
            Vehicle Identification Number
            </div>
            <div class="type__sub-title">
            Default Display
            </div>
            <div class="type__text">
            Free-form text input
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Types'
}
</script>

<style lang="scss" scoped>
@import '../node_modules/bootstrap/scss/bootstrap.scss';
.types {
    @extend .col-12, .col-md-4, .col-xl-3;
    @include media-breakpoint-up(xs) {
        height: 350px;
        padding: 15px;
        overflow-y: scroll;
        margin-bottom: 15px;
        background-color: rgba(238,244,245,1);
        border: 1px solid rgba(0, 162, 183, 0.5);
        border-right: 0px solid rgba(0, 162, 183, 0.5);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    @include media-breakpoint-up(md) {
        height: auto;
        padding: 30px 30px 15px 30px;
        margin-bottom: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    @include media-breakpoint-up(xl) {
        height: 700px;
    }

    &__title {
        font-weight: 700;
        font-size: 28px;
        margin-bottom: 15px;
    }
    &__sub-title {
        font-size: 18px;
        margin-bottom: 8px;
    }
    &__form {
        margin-bottom: 15px;
    }
    &__input {
        width: 100%;
        height: 45px;
        border-radius: 5px;
        border-color: rgba(238,244,245,1);
        outline: none;
        border: none;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
        border: 1px solid rgba(0, 162, 183, 0.5);
    }
}

.type {
    padding: 10px;
    background-color: #fff;
    margin-bottom: 15px;
    border-radius: 5px;
    &--active {
        background-color: rgba(0,126,148,1);
        color: rgba(255,255,255,1);
        .type__sub-title {
            color: rgba(198,229,234,1);
        }
    }
    &__title {
        font-size: 20px;
        font-weight: 700;
        line-height: 1;
        margin-top: 5px;
        letter-spacing: 1px;
    }
    &__icon {
        margin-right: 10px;
    }
    &__sub-title {
        letter-spacing: 1px;
        font-size: 13px;
        color: rgba(0,73,83,1);
        margin-bottom: 10px;
        margin-top: 20px;
    }
    &__text {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 10px;
        letter-spacing: 1px;
    }
}
</style>
